/* Estilos para a página "Contato" */
#contato {
  padding: 50px 0;
  text-align: center;
}

.contato-form {
  max-width: 600px;
  margin: 0 auto;
}

.contato-form h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.contato-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-form label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.contato-form input[type="text"],
.contato-form input[type="email"],
.contato-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contato-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contato-form input[type="submit"]:hover {
  background-color: #555;
}

.contato-form h3 {
  font-size: 1.2em;
  margin-top: 50px;
}
